<div>
  <button type="button" class="btn btn-success rounded-pill dropdown-toggle" id="reader" data-bs-toggle="dropdown">
    <span class="badge bg-sucess center"> <i class="fa fa-bell" style="font-size:16px;color:light-blue"> <% if session[:unread_posts] != nil %> <%= session[:unread_posts].length() =%> <% end %> </i></span>
  </button>
  <% if session[:unread_posts] != nil && session[:unread_posts].length() != 0 %>
    <ul class="dropdown-menu">
      <% session[:unread_posts].each do |p| %>
        <h1>
          123
        </h1>
      <% end %>
    </ul>
  <% end %>
</div>
