<style type="text/css">
  .input_form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; border:1px solid #ccc; font-size:20px; width:500px; min-height:30px; display:block; margin-bottom:15px; margin-top:5px; outline: none; -webkit-border-radius:5px; border-radius:5px;
  }
  label{
    font-size: 20px;
  }

</style>
<div class="body">
  <div class="header">
    <h2>Create New Post</h2>
  </div>
  <div class="wrapper">
    <form method="POST" action="/create_posts">
      <input type ="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="text" hidden name="post[user]" value="<%= @user_name %>">
      <input type="text" hidden name="post[email]" value="<%= @user_email %>">
      <div class="one">
        <input type="text" id="item" name="post[item]" class="input_form" placeholder="item..." required="">
      </div>
      <div class="one">
        <input type="text" id="description" name="post[description]" class="input_form" placeholder="description..." required="">
      </div>
      <label class="form-check-label" for="buy_it_now">Category</label>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="post[category]"  value="Electronics" id="flexRadioDefault1">
          <label class="form-check-label" for="Electronics">
            Electronic
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="post[category]" value="Bedding" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="Bedding">
            Book
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="post[category]"  value="Education" id="flexRadioDefault3">
          <label class="form-check-label" for="Education">
            Education
          </label>
        </div>
        <br>
      <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="buy_it_now" checked>
          <label class="form-check-label" for="buy_it_now">Buy It Now</label>
      </div>

      <div id="start_price">
          <small id="emailHelp" class="form-text text-muted">Buyers can purchase immediately at this price.</small>
        <div>
          Price :
          <input type="number" step=0.01 id="start_prices" name="post[price]" placeholder="10.0" min="1"/>
      </div>
      <br>
    </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="auction" >
        <label class="form-check-label" for="auction">Allow Auction</label>
      </div>
      <div id="start_auction" >
          <small id="emailHelp" class="form-text text-muted">Set a starting amount and let buyers compete for your item. To attract buyers and increase competition for your item, consider a low starting bid</small>
        <div>
          Starting bid :
          <input type="number"  step=0.01 id="start_bidding" name="post[start_bid]" placeholder="10.0" />
      </div>
      <br>
    </div>
      <button class= 'btn btn-primary'  type="submit" name="submit" class="submit">Create</button>
    </form>


  </div>
</div>
